<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>indigoslate.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Production</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://indigoslate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>indigoslate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>indigoslate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$indigoslate</UserName>
    <_SavePWD>True</_SavePWD>
    <ADAppIDUri>https://indigoslate.onmicrosoft.com/WebApp-indigoslate.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>99a9cbe7-f9b1-4fe3-ab17-1ebd701b1125</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://indigoslate.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/indigoslate.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
</Project>